* {
  box-sizing: border-box;
  font-family: cursive;
}

html, body {
  margin: 20px;
  padding: 20px;
  background-color: Linen;
  text-align: center;
}

p + p {
  font-weight: bold;
}

.main div {
  background-color: LightSteelBlue;
  border: 0.5vmin solid black;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}
